<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doooge.timemanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPageSlidesAdapter"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <service
            android:name=".Notificate"
            android:enabled="true"
            >
        <intent-filter>
            <action android:name="connect"  />

        </intent-filter>


        </service>
        <activity
            android:name=".GuidePage.IntroPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.SettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.HelpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.TypeCreator"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.TypeManagementActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpecificTaskCreator"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".GuidePage.CreateNew"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuidePage.OverviewPage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuidePage.TaskMag"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GuidePage.TypeControl"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.HelpActivityTwo"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingPage.TaskManagementActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
    </application>


</manifest>