<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doooge.timemanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainPageSlidesAdapter">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SettingPage.SettingActivity"></activity>
        <activity android:name=".SettingPage.ChangeMainPageStyleActivity" />
        <activity android:name=".SettingPage.HelpActivity" />
        <activity android:name=".SettingPage.TypeCreator" />
        <activity android:name=".SettingPage.TypeManagementActivity" />
        <activity android:name=".SpecificTaskCreator" />
        <!--activity android:name=".SecondMainPageLauncher" />-->
    </application>

</manifest>