<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doooge.timemanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainPageSlidesAdapter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".GuidePage.IntroPage" />
        <activity android:name=".SettingPage.SettingActivity" />
        <activity android:name=".SettingPage.HelpActivity" />
        <activity android:name=".SettingPage.TypeCreator" />
        <activity android:name=".SettingPage.TypeManagementActivity" />
        <activity
            android:name=".SpecificTaskCreator"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".GuidePage.CreateNew" />
        <activity android:name=".GuidePage.OverviewPage" />
        <activity android:name=".GuidePage.TaskMag" />
        <activity android:name=".GuidePage.TypeControl" />
        <activity android:name=".SettingPage.HelpActivityTwo" />
        <activity android:name=".SettingPage.TaskManagementActivity" />
    </application>


</manifest>